.icon-menu{
    display: block;
    font-size: 25px;
    background: none;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 40px;
    border: 1px solid white;
    cursor: pointer;
}
#btn-menu{
    display: none
}
#btn-menu:checked ~ .nav{
    transform: translateX(0%);
}
.nav{
    position: fixed;
    transform: translateX(-100%);
    transition: all 0.3s;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
}
.menu{
    margin-left: -2;
    list-style: none;
}
.menu_item{
    margin-left: -40px;
}
.menu_link{
    display: block;
    left: 0px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(191,191,191,0.7);
}
.menu_link:hover{
    background: rgba(91,91,91,0.7);
}